<div class="container">
    <div class="row centered">
        <h4>Athletic Training Clinic Description</h4>
    </div>
    <div class="row left">
        <p>Injuries are unfortunately a part of participation in intercollegiate athletics.
            Texas Lutheran University recognizes that fact and in order to assist the student-athlete
            in continued participation or safe return to his or her chosen sport has in place a team
            of healthcare providers ready to administer care when necessary. The primary goal of the
            athletic training staff is to provide fast and comprehensive patient-centered medical care.</p>
        <p>Student-athletes may seek care for injury or illness through multiple venues at TLU. The
            athletic training clinic located in Rinn Fieldhouse is available for care on a daily basis
            and is provided by athletic trainers. Most athletic practices, depending on injury risk,
            have an athletic trainer on site or can reach an athletic trainer in the clinic if required.
            If a student-athlete needs to see an orthopedic surgeon or general practitioner, appointments
            can be made around class schedules with physicians at their respective offices. Also available
            to the student-athlete is the student health center which houses an onsite registered nurse
            and either a nurse practitioner or physician two times a week.</p>
    </div>
    <div class="row centered">
        <h4>Athletic Trainers</h4>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img class="dashboard" src="app/dashboard/at_headshots/matt.jpg">
        </div>
        <div class="col-md-4">
            <div><label>Matt Matocha, MS, LAT, ATC</label></div>
            <div><label>Head Athletic Trainer</label></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img class="dashboard" src="app/dashboard/at_headshots/amy.jpg">
        </div>
        <div class="col-md-4" style="padding-top: 40px;">
            <div><label>Amy Menzies, MS, LAT, ATC</label></div>
            <div><label>Athletic Trainer</label></div>
        </div>
    </div>
    <div class="row">
        <p>DJ and Courtney are graduate assistant athletic trainers who are currently working towards obtaining
            a Master’s degree in Athletic Training at Texas State University. They assist Matt and Amy with providing
            healthcare services and provide additional sport coverage to the student athletes at TLU. </p>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img class="dashboard" src="app/dashboard/at_headshots/dj.jpg">
        </div>
        <div class="col-md-4" style="padding-top: 30px;">
            <div><label>DJ Ignacio, LAT, ATC</label></div>
            <div><label>Graduate Assistant Athletic Trainer</label></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img class="dashboard" src="app/dashboard/at_headshots/courtney.jpg">
        </div>
        <div class="col-md-4" style="padding-top: 30px;">
            <div><label>Courtney Ziemba, LAT, ATC</label></div>
            <div><label>Graduate Assistant Athletic Trainer</label></div>
        </div>
    </div>
</div>