<div class="container bordered">
    <div *ngIf="this.loginService.isAthlete()" class="row">
        <div class="col-md-12 left">
            <label class="col-md-3">Time Slot:</label>
            <select class="col-md-2 col-md-offset-1">
                <option>First Choice</option>
                <option>Second Choice</option>
            </select>
        </div>
        <div class="col-md-12 left">
            <label class="col-md-3">Day:</label>
            <select class="col-md-2 col-md-offset-2">
                <option>Monday</option>
                <option>Tuesday</option>
                <option>Wednesday</option>
                <option>Thursday</option>
                <option>Friday</option>
            </select>
            <button class="col-md-3" (click)="this.reserve()">Reserve</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 bordered">
            <label>Probably not for anything</label>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th>Time Slot</th>
                <th>Athlete</th>
                <th>Athletic Trainer</th>
            </tr>
            <tr *ngFor="let reservation of reservations">
                <td>{{reservation.timeSlot.start_time}} - {{reservation.timeSlot.end_time}}</td>
                <td>{{reservation.athlete.user.firstName}} Matthew</td>
                <td>{{reservation.athleticTrainer.user.firstName}}</td>
            </tr>
        </table>
    </div>
</div>