<div class="container-fluid bordered">
    <div class="row centered">
        <div class="col-md-12">
            <div class="col-md-6 right">
                <label>Time Slot:</label>
            </div>
            <div class="col-md-6 left">
                <select [(ngModel)]="selectedTimeSlot">
                    <option *ngFor="let time of times">{{time.startTime}} - {{time.endTime}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 right">
                <label>Day:</label>
            </div>
            <div class="col-md-6 left">
                <select [(ngModel)]="selectedDay">
                    <option *ngFor="let day of days">{{day}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 right">
                <label>Athletic Trainer:</label>
            </div>
            <div class="col-md-6 left">
                <select [(ngModel)]="selectedAT">
                    <option *ngFor="let at of athleticTrainers">{{at.user.firstName
                        + " " + at.user.lastName + " - " + at.classification}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <button (click)="this.reserve()">Reserve</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 bordered">
            <label>{{days.indexOf(selectedDay) + 1}}</label>
            <label>{{currentReservation.athlete.user.firstName}}</label>
            <label>{{currentReservation.athleticTrainer.user.firstName}}</label>
            <label>{{currentReservation.timeSlot.startTime}}</label>
            <label>{{this.currentReservation.scheduledDate}}</label>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped col-md-12">
            <tr>
                <th>Date</th>
                <th>Time Slot</th>
                <th>Athletic Trainer</th>
            </tr>
            <tr *ngFor="let reservation of reservations">
                <td>{{reservation.scheduledDate}}</td>
                <td>{{reservation.timeSlot.startTime}} - {{reservation.timeSlot.endTime}}</td>
                <td>{{reservation.athleticTrainer.user.firstName}} {{reservation.athleticTrainer.user.lastName}}</td>
            </tr>
        </table>
    </div>
</div>