<div class="container bordered centered">
    <div class="row">
        <label>Username: </label>
        <input [(ngModel)]="username" placeholder="">
    </div>
    <div class="row">
        <label>Password: </label>
        <input type="password" [(ngModel)]="password">
    </div>
    <div class="row">
        <select [(ngModel)]="userType">
            <option *ngFor="let type of types">{{type}}</option>
        </select>
    </div>
    <div class="row">
        <button (click)="login()">Login</button>
    </div>
</div>