<div class="containter">
    <div class="row centered bordered">
        <div class="col-md-12">
            <label>Username: </label>
            <input [(ngModel)]="username" placeholder="">
        </div>
        <div class="col-md-12">
            <label>Password: </label>
            <input type="password" [(ngModel)]="password">
        </div>
        <div class="col-md-12">
            <select [(ngModel)]="userType">
                <option *ngFor="let type of types">{{type}}</option>
            </select>
        </div>
        <div class="col-md-12">
            <button (click)="login()">Login</button>
        </div>
    </div>
    <div class="row centered bordered">
        <div class="col-md-12">
            <label>Current Username: {{currentAthlete.user.username}}</label>
        </div>
        <div class="col-md-12">
            <label>Current Password: {{currentAthlete.user.password}}</label>
        </div>
        <div class="col-md-12">
            <label>User ID: {{currentAthlete.user.userId}}</label>
        </div>
        <div class="col-md-12">
            <label>First Name: {{currentAthlete.user.firstName}}</label>
        </div>
        <div class="col-md-12">
            <label>Last Name: {{currentAthlete.user.lastName}}</label>
        </div>
        <div class="col-md-12">
            <label>Type: {{userType}}</label>
        </div>
        <div class="col-md-12">
            <label>Complaint: {{currentAthlete.complaint}}</label>
        </div>
        <div class="col-md-12">
            <label>Last Visit: {{currentAthlete.lastVisit}}</label>
        </div>
        <div class="col-md-12">
            <label>Primary Sport: {{currentAthlete.primarySport}}</label>
        </div>
        <div class="col-md-12">
            <label>Secondary Sport: {{currentAthlete.secondarySport}}</label>
        </div>
    </div>
</div>