<div class="container">
    <div class="row">
        <div class="col-md-12 centered">
            <h1>Texas Lutheran Athletic Training Clinic Scheduler</h1>
        </div>
        <div [hidden]=!loginService.isLoggedIn() class="col-md-12 right">
            <label>Welcome, {{loginService.getActiveUser()}}</label>
            <button class="btn-sm" (click)="loginService.logout()">Logout</button>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-12 centered">
                <nav>
                    <a class="col-md-2 col-md-offset-2" routerLink="/dashboard">Dashboard</a>
                    <a class="col-md-2 col-md-offset-1" routerLink="/login">Login</a>
                    <a [hidden]=!loginService.isLoggedIn() class="col-md-2 col-md-offset-1" routerLink="/schedule">Schedule</a>
                </nav>
            </div>
        </div>
        <div class="row">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>